body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: #00254f;
  
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
  border-radius: 4px;
}